body{
background: linear-gradient(to right,black,#443C04);
border: 20px solid #ffdf00;
 /border-color: solid yellow;
}

.logo{
  position: relative;
  margin-top: 10%;
  margin-bottom: -8%;
  left: 50%;
  transform: translate(-50%);
  clip-path:circle(46%);

  
}


.fotoMarcos{
  filter: grayscale();
  margin: 40px;
  border: 5px solid #ffdf00;
  position: relative;
  left: 50%;
  transform: translate(-65%);
  clip-path: circle(40% at 50% 46%);
  border-radius: 20px
  
 
 
}  
.fotoMarcos:Hover{
  filter: grayscale(0%);
  clip-path: inset(0%);

}

.miFoto{
  filter: grayscale();
  border: 5px solid #ffdf00;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  clip-path: circle(40% at 50% 42%);
  border-radius: 20px
  
 
 
}  
.miFoto:Hover{
  filter: grayscale(0%);
  clip-path: inset(0%);

}

.fotoRocio{
  filter: grayscale();
  border: 5px solid #ffdf00;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  clip-path: circle(40% at 50% 45%);
  border-radius: 20px
  
 
 
}  
.fotoRocio:Hover{
  filter: grayscale(0%);
  clip-path: inset(0%);

}

.fotoLiu{
  filter: grayscale();
  border: 5px solid #ffdf00;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  clip-path: circle(40% at 50% 42%);
  border-radius: 20px
  
 
 
}  
.fotoLiu:Hover{
  filter: grayscale(0%);
  clip-path: inset(0%);

}
.fotoJorge{
  filter: grayscale();
  border: 5px solid #ffdf00;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  clip-path: circle(36% at 50% 42%);
  border-radius: 20px
  
 
 
}  
.fotoJorge:Hover{
  filter: grayscale(0%);
  clip-path: inset(0%);

}

.fotoDavid{
  filter: grayscale();
  border: 5px solid #ffdf00;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  clip-path: circle(40% at 50% 52%);
  border-radius: 20px
  
 
 
}  
.fotoDavid:Hover{
  filter: grayscale(0%);
  clip-path: inset(0%);

}

.insta{
  position: relative;
  widht: 100%;
  left: 80%;
  transform: translate(-180%, 180%);
  clip-path: circle(40% at 50% 52%);
  border-radius: 20px; 
  margin-bottom: 8%;
}
.Tik{
  position: relative;
  left: 85%;
  transform: translate(-180%, 180%);
  clip-path: circle(40% at 50% 52%);
  border-radius: 20px; 
  margin-bottom: 8%;
}

.organigrama{
  position: relative;
  left: 50%;
  transform: translate(-51%);
  clip-path: circle(40% at % 32%);
  border-radius: 40px; 
  z-index:1;
  
}

h1{
  color: #ffdf00;
  font-family: Arial Black;
  padding: 10%;
  margin: 5%;
  margin-bottom: -10%;
  text-align: center;
 //background-color: #000000;
 font-size: 40px;
 text-shadow: 1px 1px 5px whitesmoke;
}

h2{
  color: #EBD74D;
  font-family: Arial Black;
  padding: 6%;
  margin-bottom: -8%;
  text-align: left;
 //background-color: #000000;
 font-size: 30px;
 text-shadow: 1px 1px 5px black;
}

h3{
  margin:10%;
  color: #000000;
  font-family: Arial Black;
  padding: 2%;
  margin-bottom: 6%;
  margin-top: 20%;
 text-align: center;
 background-color: #ffdf00;
 font-size: 140%;

}

h3:hover{
  background-color: #807004;
 

}


h4{
  color: #EBD74D;
  font-family: Arial Black;
  padding: 6%;
  margin-bottom: -8%;
  text-align: center;
 //background-color: #000000;
 font-size: 30px;
 text-shadow: 1px 1px 5px black;
 z-index:999;
}

figure {
    position: relative;
    
  
}

figcaption {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-47%);
    color: #EBD74D;
  font-family: Arial Black;
  padding: 6%;
  margin-bottom: -8%;
  text-align: center;
 //background-color: #000000;
 font-size: 200%;
 text-shadow: 1px 1px 5px black;
 z-index:999;
   
}

.Organismo{
   position: relative;
   width: 70%;
   margin-top: 16%;
   margin-bottom: -6%;
  left: 50%;
  transform: translate(-48%);
  clip-path: circle(40% at % 32%);
  border-radius: 40px; 
  
}


p{
  color: #000000;
  margin-bottom: 20px;
  padding: 4% 5%;
  text-align: justify; 
  font-size: 20px;
  background-color: #ffdf00;
  border-radius: 0% 20%; /* Más redondeado */
  width: fit-content;
}

h5{
  color: #000000;
  margin-bottom: 10%;
  margin-right: 10%;
  padding: 2% 5%;
  text-align: justify; 
  font-size: 100%;
  background-color: #ffdf00;
  border-radius: 10% 0%; /* Más redondeado */
  width: fit-content;
}

.Marcos{
  margin-top: -20px
  }
  
.soluciones{
  margin-top: 60px;
}

button{
  margin-top: 5%;
  margin-bottom: 5%;
  position:relative;
  left: 50%;
  transform: translate(-50%);
  padding: 2%;
  background-color:#ffdf00;
  color: #00000;
  border: none;
  
}
button:hover{
  background-color: #807004;
  cursor: pointer;
}

#mensaje{
  color: red;
}
